function Memory.init 0
push constant 2048
pop static 1
push static 1
pop static 2
push static 2
push static 0
add
push constant 14336
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push constant 1
add
pop static 3
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 5
push static 2
pop local 2
push constant 1
push local 2
add
pop pointer 1
push that 0
push static 0
add
pop pointer 1
push that 0
pop local 3
push static 2
push static 0
add
pop pointer 1
push that 0
pop local 1
push constant 1
push local 2
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push local 2
push static 0
add
pop pointer 1
push that 0
add
push argument 0
sub
pop local 0
push static 2
push static 0
add
push static 2
push static 0
add
pop pointer 1
push that 0
push argument 0
sub
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
neg
push local 0
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
label IF_FALSE0
push constant 1
neg
pop local 0
push constant 0
pop local 4
label WHILE_EXP0
push constant 0
push local 3
add
pop pointer 1
push that 0
push constant 0
eq
not
push local 4
not
and
not
if-goto WHILE_END0
push local 3
push static 0
add
pop pointer 1
push that 0
push argument 0
gt
push local 3
push static 0
add
pop pointer 1
push that 0
push local 1
gt
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
push static 0
add
pop pointer 1
push that 0
pop local 1
push local 3
push constant 1
add
pop local 0
label IF_FALSE1
push local 3
push static 0
add
pop pointer 1
push that 0
push argument 0
push constant 1
add
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 4
label IF_FALSE2
push local 4
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
push local 2
add
pop pointer 1
push that 0
pop local 2
push constant 1
push local 3
add
pop pointer 1
push that 0
pop local 3
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push local 0
push constant 1
neg
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
return
label IF_FALSE4
push local 4
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 1
neg
push local 0
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push constant 1
push local 3
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END5
label IF_FALSE5
push constant 1
neg
push local 0
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push local 3
push static 0
add
pop pointer 1
push that 0
add
push argument 0
sub
pop local 0
push local 3
push static 0
add
push local 3
push argument 0
sub
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END5
push local 0
return
function Memory.deAlloc 2
push argument 0
push constant 1
sub
pop local 0
push constant 1
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
pop static 3
push local 0
push constant 1
add
pop static 3
push constant 0
return
