function Main.main 3
push constant 2
push constant 3
call Fraction.new 2
pop local 0
push local 0
call Fraction.print 1
pop temp 0
call Output.println 0
pop temp 0
push constant 1
push constant 5
call Fraction.new 2
pop local 1
push local 1
call Fraction.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push local 1
call Fraction.plus 2
pop local 2
push local 2
call Fraction.print 1
pop temp 0
push constant 0
return
