function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto IF_END1
label IF_FALSE1
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label IF_END1
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 4
push this 5
add
pop this 4
goto IF_END2
label IF_FALSE2
push this 4
push this 6
add
pop this 4
push this 9
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 7
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push constant 4
add
pop this 0
goto IF_END4
label IF_FALSE4
push this 1
push constant 4
add
pop this 1
label IF_END4
goto IF_END3
label IF_FALSE3
push this 7
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
push constant 4
sub
pop this 0
goto IF_END5
label IF_FALSE5
push this 1
push constant 4
sub
pop this 1
label IF_END5
label IF_END3
label IF_END2
push this 8
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 7
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 1
push constant 4
add
pop this 1
goto IF_END7
label IF_FALSE7
push this 0
push constant 4
add
pop this 0
label IF_END7
goto IF_END6
label IF_FALSE6
push this 7
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 1
push constant 4
sub
pop this 1
goto IF_END8
label IF_FALSE8
push this 0
push constant 4
sub
pop this 0
label IF_END8
label IF_END6
push this 0
push this 10
gt
not
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 1
pop this 14
push this 10
pop this 0
label IF_FALSE9
push this 0
push this 11
lt
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 2
pop this 14
push this 11
pop this 0
label IF_FALSE10
push this 1
push this 12
gt
not
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 3
pop this 14
push this 12
pop this 1
label IF_FALSE11
push this 1
push this 13
lt
not
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 4
pop this 14
push this 13
pop this 1
label IF_FALSE12
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 10
pop local 4
goto IF_END13
label IF_FALSE13
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push constant 20
pop local 4
goto IF_END14
label IF_FALSE14
push constant 5
pop local 4
label IF_END14
label IF_END13
push this 14
push constant 1
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF_END15
label IF_FALSE15
push this 14
push constant 2
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF_END16
label IF_FALSE16
push this 14
push constant 3
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto IF_END17
label IF_FALSE17
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label IF_END17
label IF_END16
label IF_END15
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
