function Screen.init 0
push constant 16384
pop static 0
push constant 0
not
pop static 1
push constant 0
return
function Screen.clearScreen 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 8192
lt
not
if-goto WHILE_END0
push local 0
push static 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 1
push constant 0
return
function Screen.drawPixel 2
push argument 1
push constant 32
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
pop local 0
push argument 0
push constant 15
and
call Math.twoToThe 1
pop local 1
push static 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push static 0
add
push local 0
push static 0
add
pop pointer 1
push that 0
push local 1
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END0
label IF_FALSE0
push local 0
push static 0
add
push local 0
push static 0
add
pop pointer 1
push that 0
push local 1
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END0
push constant 0
return
function Screen.drawLine 5
push argument 2
push argument 0
sub
pop local 3
push argument 3
push argument 1
sub
pop local 4
push constant 0
pop local 0
push constant 0
pop local 1
push local 0
push local 4
call Math.multiply 2
push local 1
sub
push local 3
call Math.multiply 2
pop local 2
push local 3
push constant 0
gt
push local 4
push constant 0
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP0
push local 0
push local 3
gt
not
push local 1
push local 4
gt
not
and
not
if-goto WHILE_END0
push argument 0
push local 0
add
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 1
add
pop local 0
push local 2
push local 4
add
pop local 2
goto IF_END1
label IF_FALSE1
push local 1
push constant 1
add
pop local 1
push local 2
push local 3
sub
pop local 2
label IF_END1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
label IF_FALSE0
push local 3
push constant 0
eq
push local 4
push constant 0
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
label WHILE_EXP1
push local 1
push local 4
gt
not
not
if-goto WHILE_END1
push argument 0
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
label IF_FALSE2
push local 3
push constant 0
eq
push local 4
push constant 0
lt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
label WHILE_EXP2
push local 1
push local 4
call Math.abs 1
gt
not
not
if-goto WHILE_END2
push argument 2
push argument 3
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
label IF_FALSE3
push local 3
push constant 0
lt
push local 4
push constant 0
eq
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
label WHILE_EXP3
push local 0
push local 3
call Math.abs 1
gt
not
not
if-goto WHILE_END3
push argument 2
push local 0
add
push argument 3
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
push constant 0
return
label IF_FALSE4
push local 3
push constant 0
gt
push local 4
push constant 0
eq
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
label WHILE_EXP4
push local 0
push local 3
gt
not
not
if-goto WHILE_END4
push argument 0
push local 0
add
push argument 1
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP4
label WHILE_END4
push constant 0
return
label IF_FALSE5
push local 3
push constant 0
gt
push local 4
push constant 0
lt
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
label WHILE_EXP5
push local 0
push local 3
gt
not
push local 1
push local 4
call Math.abs 1
gt
not
and
not
if-goto WHILE_END5
push argument 0
push local 0
add
push argument 1
push local 1
sub
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
push constant 1
add
pop local 0
push local 2
push local 4
call Math.abs 1
add
pop local 2
goto IF_END7
label IF_FALSE7
push local 1
push constant 1
add
pop local 1
push local 2
push local 3
sub
pop local 2
label IF_END7
goto WHILE_EXP5
label WHILE_END5
push constant 0
return
label IF_FALSE6
push local 3
push constant 0
lt
push local 4
push constant 0
gt
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
label WHILE_EXP6
push local 0
push local 3
call Math.abs 1
gt
not
push local 1
push local 4
gt
not
and
not
if-goto WHILE_END6
push argument 0
push local 0
sub
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 0
push constant 1
add
pop local 0
push local 2
push local 4
add
pop local 2
goto IF_END9
label IF_FALSE9
push local 1
push constant 1
add
pop local 1
push local 2
push local 3
call Math.abs 1
sub
pop local 2
label IF_END9
goto WHILE_EXP6
label WHILE_END6
push constant 0
return
label IF_FALSE8
push local 3
push constant 0
lt
push local 4
push constant 0
lt
and
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
label WHILE_EXP7
push local 0
push local 3
call Math.abs 1
gt
not
push local 1
push local 4
call Math.abs 1
gt
not
and
not
if-goto WHILE_END7
push argument 0
push local 0
sub
push argument 1
push local 1
sub
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 0
push constant 1
add
pop local 0
push local 2
push local 4
call Math.abs 1
add
pop local 2
goto IF_END11
label IF_FALSE11
push local 1
push constant 1
add
pop local 1
push local 2
push local 3
call Math.abs 1
sub
pop local 2
label IF_END11
goto WHILE_EXP7
label WHILE_END7
push constant 0
return
label IF_FALSE10
push local 3
push constant 0
eq
push local 4
push constant 0
eq
and
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push argument 0
push argument 1
call Screen.drawPixel 2
pop temp 0
push constant 0
return
label IF_FALSE12
push constant 0
return
function Screen.drawRectangle 0
label WHILE_EXP0
push argument 0
push argument 2
gt
not
not
if-goto WHILE_END0
push argument 0
push argument 1
push argument 0
push argument 3
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 1
add
pop argument 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawCircle 4
push argument 2
neg
pop local 0
label WHILE_EXP0
push local 0
push argument 2
gt
not
not
if-goto WHILE_END0
push argument 0
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
sub
pop local 1
push argument 0
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
add
pop local 2
push argument 1
push local 0
add
pop local 3
push local 1
push local 3
push local 2
push local 3
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
